.color1{
  color: #ffffff;
}
.bg-color1{
  background-color: #9a2128;
}
.color2{
  color: #000000;
}
.bg-color2{
  background-color: #F2F3F4;
}
.color3{
  color: #ffffff;
}
.bg-color3{
  background-color: #810706;
}
.color4{
  color: #ffffff;
}
.bg-color4{
  background-color: #bb2d3b;
}
body {
  font-family: 'Nunito', sans-serif;
}
